@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Oswald:wght@200;300;400;600&display=swap');

/*  #1C77C3 French Blue 
    #0000ff -Blue - gradients and background boxe
    #F5F5F5 – Headings & Backgrounds (e.g.Nav)
    #494E4F Davys Grey - Text
    #E8E8E8 Hex Gray 91 - Alternate text color where needed
    #1C77C3 Cerulean Crayola (lighter blue) 
    #D63230 Permanent Geranium Lake (red)- Background for forms page
    #F39237 Deep Saffron (amber) – Buttons  
    #40BCD8 Maximum Blue – Reserve color
*/

body {
    background-color: #F5F5F5;
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #494E4F;
}
/* Home Page - Nav*/ 
.navbar-brand {
    font-size: 2em;
}
.navbar {
    color: #1C77C3;
    font-size: 1.5em;
    
}
#nav-link-color {
    color:#1C77C3 !important;
    font-size: 1.25rem;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(28, 119, 195, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*ul {
  
}*/
.nav-item {
    list-style: none;
}
a {
    text-decoration: none;
}
.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #1C77C3;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item {
    margin-left: 5rem;
}
.nav-link{
    font-size: 1rem;
    color: #1C77C3;
}
.nav-link:hover{
    color: #F39237;
}
@media only screen and (max-width: 768px) {
    .navbar-nav {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #f5f5f5;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navbar-nav.active {
        left: 0;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
}
/* Home Page - Img*/
h1 {
    color: #1C77C3;
    margin-top: 1.5rem;
}

img {
    max-height: 40em;
}
/* Home Page - Benefits*/

#groups {
    text-align: center;
}
.callout {
    padding: 2em;
    margin-bottom: 3em;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, blue, #1C77C3, white, white, white, white, #1C77C3, blue);
}
button {
    margin: 1em;
    padding: 1em;
    font-weight: bold;
}
/* Home Page - benefits*/

.benefits {
    display: inline-block;
    flex-direction: row;
    padding: 1em;
    font-size: 1.4rem; 
}
h4 {
    display: flex;
    justify-content: center;
    padding: 0.5em;
}
.sessions {
    display: inline-block;
    flex-direction: row;
}
.social-networks {
    text-align: center;
}
.social-networks li {
    display: inline;
}
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #777777;
}
footer {
    display: inline-block;
    flex-direction: row;
    width: 100%;
    max-height: 33vh;
}
/* Sign Up form */
.form-section {
    background-image: url(/images/ball-image-background.jpeg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.signup-form {
    margin-top: 150px;
    color: #F5F5F5;
    background-color: rgba(28, 119, 195, 0.8);
    height: 500px;
    max-width: 500px;
    position: absolute;
    right: 14%;
    padding: 30px;
    border-radius: 10%;
    box-shadow: 5px 5px 5px 5px white;
}
h2 {
    margin-bottom: 25px;
}
.text-input {
    background: #F5F5F5;
    width: 100%;
    height: 2em;
    margin: 5px 0px 20px 0px;
    border: 1px solid #fafafa;
    padding: 1em;
}
/*playing.html rules section*/
#playing {
    min-height: 700px;
    width: 100%;
    background-color: #1C77C3;
    color: #F5F5F5;
    font-size: 1.25em;
}
.rules-link {
    background-color: #F39237; 
    color: #F5F5F5;
}
p,
.considerations {
    justify-content: left;
}
/* fixtures pagfe*/

#fixtures {
    min-height: 700px;
    width: 100%;
    background-color: #1C77C3;
    color: #F5F5F5;
    font-size: 1.25em; 
}
form {
    margin-top: 1.77em;
}
.table-head {
    margin-top: 1.77em;
}
tr, td {
    text-align: center;
}

/* tablet devices */

@media only screen and (max-width: 992px) {
    #fixtures {
        flex-direction: column;
    }
    #fixtures>* {
        margin: 20px auto;
    }
    .col-6 {
        max-width: 70%;
    }
    .form-section {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .signup-form {
        margin: 0 auto;
        position: unset;
    }
}
/* mobile devices - large*/
@media only screen and (max-width: 768px) {
    .signup-form{
        max-width: 350px;
    }
}

/* mobile devices - small*/
@media only screen and (max-width: 600px) {
    
}